{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1 style="margin-left: 40px">Привет, я автор</h1>
<hr>
<h3 style="margin-left: 40px">Основная информация:</h3>
<p style="margin-left: 40px">
    Привет, меня зовут Демьян. 
    Не смотря на свой столь юный возраст (16 лет), вы уже добрались до моей авторской страницы. 
    Это ли не удивительно? 
</p>
<hr>
<h3 style="margin-left: 40px">Мои мотивации:</h3>
<p style="margin-left: 40px">
    Свой путь программирования я начал с интересов о фракталах и их воспроизведении, потом узнал о Python, ну а дальше сами понимаете. 
    Не хочу особо хвастаться, но с самого детства у меня страсть и талант к точным наукам что так же сподвигает меня. 
</p>
<hr>
<h3 style="margin-left: 40px">
    Мои контакты:
</h3>
<p style="margin-left: 40px">
    <a href='https://github.com/Demianight'>
        GitHub
    </a>
    <br>
    <a href='https://tlgg.ru/komar197'>
        Telegram
    </a>
</p>
{% endblock %} 